graph 
{
    fill-color: rgb(247, 243, 232);
}

node 
{
    size: 8px;
    text-mode:hidden;
    text-background-mode: rounded-box;
    text-background-color: black;
    text-alignment: above;
    text-color: white;
    text-size: 15px;
    text-style: bold;
    text-padding: 5px;
    text-offset: -10px;
    fill-color: rgb(255, 255, 255);
    stroke-mode: plain;
    stroke-color: rgb(180, 180, 180);
}

node.warehouse
{
    size: 15px;
    fill-color: blue;
}

node.green 
{
    size: 12px;
    fill-color: green;
    z-index: 4;
}
node.magenta
{
    size: 12px;
    fill-color: magenta;
    z-index: 4;
}
node.cyan
{
    size: 12px;
    fill-color: cyan;
    z-index: 4;
}

node.selected 
{
    size: 15px;
    fill-color: red;    
}

node:selected 
{
    size: 15px;
    fill-color: red;
}

edge 
{
    arrow-shape: none;
    size: 3px;
    fill-color: rgb(255, 255, 255);
    shadow-mode: plain;
    shadow-color: rgb(180, 180, 180);
    shadow-width: 2px;
    shadow-offset: 0px;
}

edge.avenue 
{
    size: 5px;
    fill-color: rgb(252, 253, 211); 
    shadow-mode: plain;
    shadow-color: rgb(242, 173, 47);
    shadow-width: 2px;
    shadow-offset: 0px;
}

edge.boulevard 
{
    size: 7px;
    shadow-mode: plain;
    shadow-color: rgb(200, 122, 0);
    shadow-width: 2px;
    shadow-offset: 0px;
    fill-color: rgb(255, 220, 0); 
}

edge.green 
{
    fill-color: green;
}
edge.magenta
{
    fill-color: magenta;
}
edge.cyan
{
    fill-color: cyan;
}
